* {
    margin: 0;
    padding: 0;
}
html {
    font-family: sans-serif;
}
body {
    background-image: url(img/pic1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 33rem;

}
nav {
    background: white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    text-decoration: none;
    margin-right: 30px;
    color: #000000;
}
.nav-link .fab {
    font-size: 30px;
    margin: 0px 10px 0 20px;
    color: rgb(212, 6, 6);
}
.left-nav {
    display: flex;
    align-items: center;
}
input {
   border: none; 
   border-left: 1px solid lightgray;
   height: 30px;
}
.content-box {
    border-radius: 5px;
    -webkit-box-shadow: 11px 17px 30px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 17px 30px -20px rgba(0,0,0,0.75);
    box-shadow: 11px 17px 30px -20px rgba(0,0,0,0.75);
    top: 100px;
    left: 420px;
    height: 700px;
    width: 500px;
    position: absolute;
    background: orange;
}
h1 {
    font-size: 60px;
    margin: 50px 30px 30px 30px;
    line-height: 1.3em;
    color: white;
}
p {
    color: white;
    font-size: 18px;
    line-height: 1.8;
    margin: 40px 30px 30px 30px;
}
button {
    font-size: 18px;
    border: none;
    background-color: rgb(1, 156, 156);
    color: white;
    padding: 15px 50px;
    margin: 20px 30px 0 30px;
}
label {
    font-size: 30px;
    margin: 10px 20px 10px 10px;
    cursor: pointer;
    display: none;
    width: 33px;
}
#toggle {
    display: none;
}





@media screen and (max-width: 600px) {
    nav {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
        width: 100%;
        text-align: center;
        margin: 0;
    }
    label {
        display: block;
    }
    .right-nav a {
        display: block;
        border-bottom: 1px solid #EBEBEA;
        margin: 0;
        line-height: 1.6;
    }
    #toggle:checked + .right-nav {
        display: block;
        visibility: visible;
        opacity: 1;
    }
    .content-box {
        position: absolute;
        top: 130px;
        left: 30px;
        height: 600px;
        width: 350px;
    }
    h1 {
        font-size: 43px;
        margin: 50px 30px 30px 30px;
        line-height: 1.3em;
    }
    p {
        color: white;
        font-size: 16px;
        line-height: 1.5;
    }
}